base: &base
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password:
  host: localhost

development:
  <<: *base
  database: manchikha_development

test:
  <<: *base
  database: manchikha_test

production:
  <<: *base
  database: manchikha_production
